body{
    background: white;
}

.container-fluid{
    background: rgb(214, 230, 226);
    background-image: none;
}


.login {
    
    width:360px;
    height:500px;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background:white;
    align-items: end;

}

